
<div *ngFor="let rail of rails">
   <hr/>
   <p><b>NUMBER OF LEGS: {{rail.Legs?.length}}</b>
   </p><br/>
<hr/><br/>
   <div *ngFor="let leg of rail.Legs">
      <hr/>
      <div class="legs">
         <button (click)="leg.DepTime=!leg.DepTime">Toggle</button>
         <p *ngIf="leg.DepTime" class="space-around"><b>Departure Time: </b>
            <span>{{leg.DepTime ? leg.DepTime : 'N/A'}}</span>
         </p>
         <!-- <p>vxz</p> -->
      </div>

      <p class="space-around"><b>Route Name: </b>
         <span>{{leg.RouteName ? leg.RouteName : 'N/A'}}</span>
      </p>

      <div class="legs" *ngFor="let tkt of leg.TKTs">
         <p class="space-around"><b>Adult Price: </b>
            <span>{{tkt.AdtPrice ? tkt.AdtPrice : 'N/A'}}</span>
         </p>
         
         <p class="space-around"><b>Child Price: </b>
            <span>{{tkt.ChdPrice ? tkt.ChdPrice : 'N/A'}}</span>
         </p>

         <p class="space-around"><b>Travel Times: </b>
            <span>{{tkt.TravelTimes ? tkt.TravelTimes : 'N/A'}}</span>
         </p>
         
         <p class="space-around"><b>Operator: </b>
            <span>{{tkt.Operator ? tkt.Operator : 'N/A'}}</span>
         </p>
         <p class="space-around"><b>Single Or Return: </b>
            <span>{{tkt.SingleOrReturn ? tkt.SingleOrReturn : 'N/A'}}</span>
         </p>
         
      </div>
      
   </div><br/><br/>
</div>



